@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Monda", sans-serif;
    background-image: url(~/assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @apply font-normal text-base text-white bg-black;
  }
  svg {
    @apply !mb-0;
  }
}
@layer components {
  .text-heading {
    font-family: "Krona One", sans-serif;
  }
}
@layer utilities {}